<div class="min-h-screen bg-gray-100 dark:bg-gray-900" >
  <div class=" bg-gray-100 dark:bg-gray-900 flex items-center justify-center px-4 py-10" data-controller="uploader documents">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-lg w-full max-w-3xl space-y-6">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white text-center">S3 Multipart Upload</h2>

      <div class="flex flex-col sm:flex-row sm:justify-center sm:items-center gap-4">
        <input type="file" multiple data-uploader-target="fileInput" class="file-input w-full sm:w-auto text-sm text-gray-700 dark:text-gray-300 file:bg-blue-600 file:hover:bg-blue-700 file:text-white file:transition file:duration-200 file:cursor-pointer file:font-medium file:px-4 file:py-2 file:rounded-md dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"/>

        <button type="button" data-action="uploader#selectFiles" class="w-full sm:w-auto px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm font-medium rounded-md transition duration-200 cursor-pointer">Upload Files</button>

        <button data-action="click->documents#load" class="w-full sm:w-auto px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-md transition duration-200 cursor-pointer">Refresh</button>
      </div>

      <div class="space-y-2">
        <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-200">Current Uploads</h3>
        <div data-uploader-target="uploadList" class="overflow-y-auto bg-gray-50 dark:bg-gray-700 rounded-md p-1" style="max-height: 300px;"></div>
      </div>

      <div class="space-y-2">
        <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-200">Uploaded Files</h3>
        <div data-documents-target="list" class="overflow-y-auto bg-gray-50 dark:bg-gray-700 rounded-md p-1" style="max-height: 300px;"></div>
      </div>
    </div>
  </div>
</div>
